/* Cabecalho.module.css */

/* Sombra de texto */
.sombra {
  text-shadow: greenyellow 2px 2px 5px;
}

hr {
  height: 4px;
  border: none;
  background-color: purple;
  width: 50%;
  margin: auto;
}

.destaque-texto {
  text-transform: uppercase;
}
